# API Services

## Go-gin
GO_GIN_SERVICE_NAME=go-gin
GO_GIN_FORWARD_URLS=https://httpbin.org/get

## py-fastapi
PY_FASTAPI_SERVICE_NAME=py-fastapi
PY_FASTAPI_FORWARD_URLS=https://httpbin.org/get

# MCP

## ts-mcp
TS_MCP_SERVICE_NAME=ts-mcp
TS_MCP_SERVICE_URLS=go-gin=http://otel_polyglot_go_gin:8080,py-fastapi=http://otel_polyglot_py_fastapi:8080
